/HW/Hello_World/build/
/HW/Hello_World/dist/
/HW/Gaddis_9thEd_Chap3_Prob12_CtoF/build/
/HW/Gaddis_9thEd_Chap3_Prob12_CtoF/dist/
/HW/Gaddis_9thEd_Chap3_Prob13_Currency/build/
/HW/Gaddis_9thEd_Chap3_Prob13_Currency/dist/
/HW/Gaddis_9thEd_Chap4_Prob10_LeapYear/build/
/HW/Gaddis_9thEd_Chap4_Prob10_LeapYear/dist/
/HW/Gaddis_9thEd_Chap5_Prob11_Population/build/
/HW/Gaddis_9thEd_Chap5_Prob11_Population/dist/
/HW/Gaddis_9thEd_Chap6_Prob7_CelsiusTable/build/
/HW/Gaddis_9thEd_Chap6_Prob7_CelsiusTable/dist/
/HW/population problem/build/
/HW/population problem/dist/
/HW/Gaddis_9thEd_Chap7_Prob6_RainorShine/build/
/HW/Gaddis_9thEd_Chap7_Prob6_RainorShine/dist/
/HW/Gaddis_9thEd_Chap7_Prob6_RainorShine_V2/build/
/HW/Gaddis_9thEd_Chap7_Prob6_RainorShine_V2/dist/
/HW/Gaddis_9thEd_Chap8_Prob7_BinarySearch/build/
/HW/Gaddis_9thEd_Chap8_Prob7_BinarySearch/dist/
/Random Testing/CharacterArrayTesting/build/
/Random Testing/CharacterArrayTesting/dist/
/HW/Gaddis_9thEd_Chap12_Prob7_SentenceFilter/build/
/HW/Gaddis_9thEd_Chap12_Prob7_SentenceFilter/dist/
/HW/Gaddis_9thEd_Chap12_Prob8_ArrayFileFunctions/build/
/HW/Gaddis_9thEd_Chap12_Prob8_ArrayFileFunctions/dist/
/HW/Gaddis_9thEd_Chap12_Prob11_CorpSalesDataOutput/build/
/HW/Gaddis_9thEd_Chap12_Prob11_CorpSalesDataOutput/dist/