/HW/Hello_World/build/
/HW/Hello_World/dist/
/HW/Gaddis_9thEd_Chap3_Prob12_CtoF/build/
/HW/Gaddis_9thEd_Chap3_Prob12_CtoF/dist/
/HW/Gaddis_9thEd_Chap3_Prob13_Currency/build/
/HW/Gaddis_9thEd_Chap3_Prob13_Currency/dist/
/HW/Gaddis_9thEd_Chap4_Prob10_LeapYear/build/
/HW/Gaddis_9thEd_Chap4_Prob10_LeapYear/dist/
/HW/Gaddis_9thEd_Chap5_Prob11_Population/build/
/HW/Gaddis_9thEd_Chap5_Prob11_Population/dist/
/HW/Gaddis_9thEd_Chap6_Prob7_CelsiusTable/build/
/HW/Gaddis_9thEd_Chap6_Prob7_CelsiusTable/dist/
/HW/population problem/build/
/HW/population problem/dist/
/HW/Gaddis_9thEd_Chap7_Prob6_RainorShine/build/
/HW/Gaddis_9thEd_Chap7_Prob6_RainorShine/dist/
/HW/Gaddis_9thEd_Chap7_Prob6_RainorShine_V2/build/
/HW/Gaddis_9thEd_Chap7_Prob6_RainorShine_V2/dist/
/HW/Gaddis_9thEd_Chap8_Prob7_BinarySearch/build/
/HW/Gaddis_9thEd_Chap8_Prob7_BinarySearch/dist/
/Random Testing/CharacterArrayTesting/build/
/Random Testing/CharacterArrayTesting/dist/
/HW/Gaddis_9thEd_Chap12_Prob7_SentenceFilter/build/
/HW/Gaddis_9thEd_Chap12_Prob7_SentenceFilter/dist/
/HW/Gaddis_9thEd_Chap12_Prob8_ArrayFileFunctions/build/
/HW/Gaddis_9thEd_Chap12_Prob8_ArrayFileFunctions/dist/
/HW/Gaddis_9thEd_Chap12_Prob11_CorpSalesDataOutput/build/
/HW/Gaddis_9thEd_Chap12_Prob11_CorpSalesDataOutput/dist/
/HW/Gaddis_9thEd_Chap12_Prob12_CorpSalesDataInput/build/
/HW/Gaddis_9thEd_Chap12_Prob12_CorpSalesDataInput/dist/
/HW/Gaddis_9thEd_Chap12_Prob1_FileHeadProgram/build/
/HW/Gaddis_9thEd_Chap12_Prob1_FileHeadProgram/dist/
/HW/CIS17A_Midterm_Prob1_CheckingAcct/build/
/HW/CIS17A_Midterm_Prob1_CheckingAcct/dist/
/HW/CIS17A_Midterm_Prob2_NumofEmployees/build/
/HW/CIS17A_Midterm_Prob2_NumofEmployees/dist/
/HW/CIS17A_Midterm_Prob3_MeanMediaMode/build/
/HW/CIS17A_Midterm_Prob3_MeanMediaMode/dist/
/HW/CIS17A_Midterm_Prob3_MeanMediaMode_11231/build/
/HW/CIS17A_Midterm_Prob3_MeanMediaMode_11231/dist/
/HW/CIS17A_Midterm_Prob5_Factorial/build/
/HW/CIS17A_Midterm_Prob5_Factorial/dist/
/Projects/Proj1_V1/build/
/Projects/Proj1_V1/dist/
/Projects/Proj1_V2/build/
/Projects/Proj1_V2/dist/
/Projects/Proj1_V3/build/
/Projects/Proj1_V3/dist/
/Projects/Proj1_V4/build/
/Projects/Proj1_V4/dist/
/Projects/Proj1_V5_Final/build/
/Projects/Proj1_V5_Final/dist/
/Projects/New Folder With Items/Proj1_V1/build/
/Projects/New Folder With Items/Proj1_V1/dist/
/Projects/New Folder With Items/Proj1_V2/build/
/Projects/New Folder With Items/Proj1_V2/dist/
/Projects/New Folder With Items/Proj1_V3/build/
/Projects/New Folder With Items/Proj1_V3/dist/
/Projects/New Folder With Items/Proj1_V4/build/
/Projects/New Folder With Items/Proj1_V4/dist/
/Projects/New Folder With Items/Proj1_V5_Final/build/
/Projects/New Folder With Items/Proj1_V5_Final/dist/
/Projects/Project 1/Proj1_V1/build/
/Projects/Project 1/Proj1_V1/dist/
/Projects/Project 1/Proj1_V2/build/
/Projects/Project 1/Proj1_V2/dist/
/Projects/Project 1/Proj1_V3/build/
/Projects/Project 1/Proj1_V3/dist/
/Projects/Project 1/Proj1_V4/build/
/Projects/Project 1/Proj1_V4/dist/
/Projects/Project 1/Proj1_V5_Final/build/
/Projects/Project 1/Proj1_V5_Final/dist/
/Projects/Project 1/Project1/Proj1_V1/build/
/Projects/Project 1/Project1/Proj1_V1/dist/
/Projects/Project 1/Project1/Proj1_V2/build/
/Projects/Project 1/Project1/Proj1_V2/dist/
/Projects/Project 1/Project1/Proj1_V3/build/
/Projects/Project 1/Project1/Proj1_V3/dist/
/Projects/Project 1/Project1/Proj1_V4/build/
/Projects/Project 1/Project1/Proj1_V4/dist/
/Projects/Project 1/Project1/Proj1_V5_Final/build/
/Projects/Project 1/Project1/Proj1_V5_Final/dist/
/HW/CIS17A_Midterm_Prob4_EncryptDecrypt/build/
/HW/CIS17A_Midterm_Prob4_EncryptDecrypt/dist/
/HW/CIS17A_Midterm_Menu/dist/
/HW/CIS17A_Midterm_Menu/build/
/HW/CIS17AMidterm_Menu1/build/
/HW/CIS17AMidterm_Menu1/dist/
/HW/Gaddis_9thEd_Chap13_Prob1_Date/build/
/HW/Gaddis_9thEd_Chap13_Prob1_Date/dist/
/HW/Gaddis_9thEd_Chap13_Prob4_PatientCharges/build/
/HW/Gaddis_9thEd_Chap13_Prob4_PatientCharges/dist/
/HW/Gaddis_9thEd_Chap13_Prob5_Retailitem/dist/
/HW/Gaddis_9thEd_Chap13_Prob5_Retailitem/build/
/HW/Gaddis_9thEd_Chap13_Prob6_InventoryClass/build/
/HW/Gaddis_9thEd_Chap13_Prob6_InventoryClass/dist/
/HW/Gaddis_9thEd_Chap13_Prob17_CashRegister/build/
/HW/Gaddis_9thEd_Chap13_Prob17_CashRegister/dist/
/HW/Gaddis_9thEd_Chap14_Prob1_Numbers/build/
/HW/Gaddis_9thEd_Chap14_Prob1_Numbers/dist/
/HW/Gaddis_9thEd_Chap14_Prob2_DayofYear/build/
/HW/Gaddis_9thEd_Chap14_Prob2_DayofYear/dist/
/HW/Gaddis_9thEd_Chap14_Prob3_DayofYearMod/build/
/HW/Gaddis_9thEd_Chap14_Prob3_DayofYearMod/dist/
/HW/Gaddis_9thEd_Chap14_Prob4_NumDays/build/
/HW/Gaddis_9thEd_Chap14_Prob4_NumDays/dist/
/HW/Gaddis_9thEd_Chap14_Prob5_TimeOff/build/
/HW/Gaddis_9thEd_Chap14_Prob5_TimeOff/dist/
/HW/Gaddis_Chap15_Prob1_EmployeeWorkerClass/build/
/HW/Gaddis_Chap15_Prob1_EmployeeWorkerClass/dist/
/HW/Gaddis_9thEd_Chap15_Prob4_TimeFormat/build/
/HW/Gaddis_9thEd_Chap15_Prob4_TimeFormat/dist/
/HW/Gaddis_9thEd_Chap16_Prob1_Date/build/
/HW/Gaddis_9thEd_Chap16_Prob1_Date/dist/
/HW/Gaddis_9thEd_Chap16_Prob3_MinMax/build/
/HW/Gaddis_9thEd_Chap16_Prob3_MinMax/dist/
/HW/Gaddis_9thEd_Chap16_Prob5_Total/build/
/HW/Gaddis_9thEd_Chap16_Prob5_Total/dist/